#puzzle {
	width:100%;
	margin: 0;
	padding: 10px;
	border: 1px solid black;
}

.square{
	width:30px;
	height:30px;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
    
    position: relative;
}

.empty{
    background-color:white;
}

.letter{
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
}

#puzzle_container{
	float: left;
	width:50%
	height: 50%;
    background-color: #e3e7ed;
    margin-top: 50px;

}

#hints_container{
	float: left;
	width:50%
	height: 50%;
    margin-left: 25px;
}

#buttons_container{
    clear: both;
    padding-top: 20px;
    margin-left: 50px;

}

.active{
    border-color: red;
}

.question_number{
    position: absolute;
    font-size: 12px;
    color: black;
    left: 3px;
    top: 3px;
}

td{
    position:relative;
    background-color: #e3e7ed; 
}

body {
    background-color: #e3e7ed;
    font-family: Segoe UI Emoji;
}

h1{
    text-align: center;
    padding-top: 50px;
}