.borde{
	border: 1px #000 solid;
}
.puzzle{
	border-collapse: separate;
}
.td-md{
	width: 35px;
	height: 35px;
	min-width: 28px;
	min-height: 25px;
	max-height: 35px;
	font-size: 20px;
}
.td{
	width: 30px;
	height: 30px;
	min-width: 25px;
	min-height:25px;
	font-size: 20px;
}

.td-lg-plus{
	width: 50px;
	height: 45px;
	min-width: 45px;
	min-height:45px;
	font-size: 22px;
}
.td-md-plus{
	width: 50px;
	height: 40px;
	min-width: 40px;
	min-height: 40px;

	font-size: 18px;
}
.sp{
	width: 100%;
	height: 100%;
	font-size: 15px;
	cursor: pointer;
}
.sp-md{
	width: 100%;
	height: 100%;
	font-size: 12px; 
	cursor: pointer;
}
.casilla{
	width: 100%;
	height: 100%;
	background-color: #fff;
	color: #000;
}
.numeroPregunta{
	cursor: pointer;
    font-size: 5px;
    color: black;
    left: 3px;
    top: 3px;
}
.preguntas-lg{
	font-size: 25px;
	color: #000	bold;	
}
.preguntas-md{
	font-size: 20px ; 
	color: #000	bold;	
}