
#lista{
	width: 700px;
	font-family: Arial,Helvetica, sans-serif;
}
ul,ol {
	list-style: none;
}
.nav li a{
	background-color: #000;
	color: #ffffff;
	text-decoration: none;
	padding: 10px 15px;
	display: block;
}
.nav li a:hover{
	background-color: #434343;
}
.nav > li{
	float: left;
}
.nav li ul{
	display: none;
	position: absolute;
	min-width: 140;
}
.nav li:hover>ul{
	display:block;
}
.nav li ul li{
	position:relative;
}

.nav li ul li ul{
	right: -140px;
	top:0px;
}
.colorLetra{
    color: #df1006;
}
.display-1 {
    font-size: 30px;
    padding-top: 13px;
	color: #337ab7;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px)
.container {
    width: 750px;
}
@media (min-width: 992px)
.container {
    width: 970px;
}

@media (max-width: 767px)
.hidden-xs {
    display: none!important;
}

#right-navigation {
    position: relative;
    right: 0;
    float: right;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#navegacion{
	position: absolute;
	padding-top: 50px;
}

body{
	background: #e3e7ed;
    font-family: Segoe UI Emoji;
}

h1{
	text-align: center;
}

.imagen{
	padding-right:  20px;
	width: 220;
	height: 300;
	text-align: center;
}

.borde{
	border: 1px #000 solid;
}
.titulo{
	padding-top: 15px;
	padding-left: 15px;
	color: #337ab7;
}
.textolecciones{
	color: #ffffff;
}
